#form-block{
  text-align: left;
  margin: 1%;
  padding: 1%;
  border: solid 2px #0a0;
  width: 40%;
  box-sizing: inline-block;
}

.form{
  appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  -webkit-appearance: none;

  background: #222;
  color: #0f0;
  border: solid 2px #0a0;

}
.form:focus{
  background: #333;
  box-shadow: 0px 0px 20px #0e0;
}

.form::placeholder{
  color: #999;
}

.js-length-ok{
  color: #eee;
}

.js-length-ng{
  color: #e08;
}
