body{
  margin: 0;
  background: #222;
  color: #eee;
  text-align: center;
}

/*汎用class------------------------------------------------------------*/
.mainPanel{
  border: 5px double #0a0;
  background: #222;
  box-sizing: border-box;
}

.main-title{
  border: solid 2px #0a0;
  color: #0e0;
  display: inline-block;
  padding: 0.5% 5%;
}

.join{
  width:100%;
  height: 100%;
}

/*------------------------------------------------------------*/
header{
  box-sizing: border-box;
  background: #222;
  height: 100px;
  width: 99.6%;
  overflow: hidden;
  border: 5px double #0a0;
  margin: 0 0.2%;
  z-index: 8;
}

#top-banner{
  width: 99.6%;
  margin:0 0.2%;
}

#top-icon{
  position: relative;
  left:10px;
  font-size: 30px;
  float: left;
  overflow: hidden;
}

.topIcon-Link{
  font-family: 'Rajdhani', sans-serif;
  text-decoration: none;
  color: #0e0;
  display: block;
  text-align: center;
  background: #222;
  border: solid 2px #0a0;
  border-radius: 5px;
  line-height: 60px;
  padding: 10px;
  line-height: 100%;
}

.topIcon-Link:hover{
  text-decoration: solid;
  color: #0f0;
  background: #444;
  border-color: #0e0;
}

#top-flavor{
  top: 25%;
  background: #fff;
  float: left;
  margin-left: 50px;
  padding: 2px;
  padding-right: calc(2px + 2px);
  border: 2px #ccc solid;
  border-radius: 10%;
  color: #f22;
  position: relative;
  font-family: 'Rajdhani', sans-serif;
  font-size: 30px;
  text-shadow: 2px 2px 2px #811;
}

#top-nav{
  position: relative;
  float: right;
  margin-right: 20px;
  overflow: hidden;
}
#top-nav li{
  list-style: none;
  float: left;
}

#top-nav li > a{
  color: #0e0;
  text-decoration: none;
  font-size: 24px;
  display: block;
  border: solid 2px #0a0;
  padding: 8px;
  margin-right: 10px;

  text-align: center;
  border-radius: 5px;
  background: #222;
}
#top-nav li > a:hover{
  text-decoration: solid;
  color: #0f0;
  background: #444;
  border-color: #0e0;
}

/*------------------------------------------------------------*/

#middle{
  position: relative;
  width: 100%;
  height: 980px;
  overflow: hidden;
  padding-bottom: 6px;
  text-align: center;
  margin-top: 0.5%;
  margin-left: auto;
  margin-right: auto;
}

#main-timeline{
  box-sizing: border-box;
  width: 98%;
  border: dotted 2px #0a0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

.main-timeline-row{
  color: #0e0;
}

#main-panelPool{
  overflow: hidden;
  border: solid 2px #0a0;
  box-sizing: border-box;
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}
.main-panel-flame{
  height: 100%;
  width: 19%;
  margin-right: 1%;
  float: left;
  border: solid 2px #0a0;
  box-sizing: border-box;
}
.main-panel-flame:last-child{
  margin-right: 0;
}

.main-panel{
  height: 100%;
  width: 100%;
  display: block;
  background: #444;
  color: #0e0;
  text-decoration: none;
  font-size: 1.5vw;
}

.main-panel-info{
  color: #efe;
  font-size: 1.2vw;
}

#main-article{
  float: left;
  height: 100%;
  width: 79.6%;
  margin: 0.1% 0.2%;
}
#main-sidebar{
  float: left;
  height: 100%;
  width: 19.6%;
  margin: 0.1% 0.2%;
}

/*------------------------------------------------------------*/

footer{
  background: #448;
  color:#eee;
  height: 200px;
  text-align: center;
}
footer a{
  color: #4ff;
}
